@import url('https://fonts.googleapis.com/css?family=Audiowide');

.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal {
  margin: auto;
  width: 45%;
  height: 350px;
  border: 1px solid red;
  letter-spacing: 10px;
  font-family: 'Audiowide', cursive;
}

.login-modal h1 {
  text-align: center;
  color: red;
}

.login-modal p {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 3px;
}

.login-modal form {
  margin: 85px auto;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.login-modal form button {
  padding-top: 35px;
  border: none;
  background: none;
  font-family: 'Audiowide', cursive;
  font-size: 1.3rem;
  letter-spacing: 3px;
}